# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
POSTGRES_DB=mydb
POSTGRES_PORT=54352

# Redis
REDIS_HOST=redis
REDIS_PORT=63779
REDIS_PASSWORD=123456

# MinIO
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=123456789
MINIO_BUCKET=species-images
MINIO_API_PORT=9001
MINIO_CONSOLE_PORT=9100
MINIO_ENDPOINT=minio
MINIO_USE_SSL=false

# App
API_PORT=3001
WEB_PORT=3000
NODE_ENV=production
NEXT_PUBLIC_API_URL=http://localhost:3001
