DATABASE_URL="postgresql://admin:123456@localhost:54352/mydb?schema=public"
REDIS_HOST=103.82.24.142
REDIS_PORT=63779
REDIS_PASSWORD=123456
MINIO_ENDPOINT=localhost
MINIO_PORT=9001
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=123456789
MINIO_BUCKET=species-images
MINIO_USE_SSL=false
# URL trình duyệt dùng để tải ảnh (thay bằng IP/domain thực tế của server)
MINIO_PUBLIC_URL=http://localhost:9001
PORT=3001
NODE_ENV=development
